@import 'assets/fonts/fira/fira.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
}
